<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
        {% if title %}
        <title>{{ title }} - bytehacks-2018</title>
        {% else %}
        <title>bytehacks-2018</title>
        {% endif %}
    </head>
    <body>
        <nav>
            <div class="container">
                <div>
                    Roberta
                </div>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('resources') }}">Resources</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
