{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1>Hi, {{ current_user.name }}!</h1>

        {% if current_user.mood_texts.count() == 0 %}
            <p>You have no recent mood entries. Text "Hi" to (586) 788-1702 to begin writing.</p>
        {% else %}
            <p style="color:#757575"><i>Text "Hi" to (586) 788-1702 to add a new entry.</i></p>
            {% for text in current_user.mood_texts.order_by(MoodText.id.desc()).all() %}
                <div><p
                    {% if text.sentiment is not none %}
                    style = "color:rgb(
                        {% if text.sentiment|int > 0 %}
                            0, {{ text.sentiment }}, 0
                        {% else %}
                            {{ (text.sentiment|int)*-1 }}, 0, 0
                        {% endif %}
                    )"
                    {% endif %}
                ><b>{{ text.date }}:</b> {{ text.content }}</p></div>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}
