{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1>Sign In</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    </div>
</section>
<section>
    <div class="container" style="display:flex; border-bottom: 1px solid #bdbdbd;">
        <img src="static/img/roobi-logo.png" style="max-width: 320px; max-height: 320px; margin-right: 1.5rem;"/>
        <div>
            <h1>About Roobi</h1>
            <p>
                Roobi aims to help our users track their mental health in two ways. The first is an AI tracker which monitors and analyzes your mental health with sentiment analysis through Google Cloud National Language API. The second way is tracker that is recorded by you! You can choose one option or the other ot both, its up to you!
            </p>
        </div>
    </div>
</section>
{% endblock %}
