{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1> Resources </h1>
        <p>
            For emergencies: Call 911 <br>
            National Suicide Prevention Lifeline: Call 1-800-273-8255 <br>
            Crisis Text Line: Text “home” to 741741 <br>
            Substance Abuse and Mental Health Services Administration (SAMHSA) National Helpline: 1-800-662-HELP (4357) <br>
            National Alliance on Mental Illness (NAMI) Helpline: 1-800-950-NAMI (6264) <br> 
        </p>
    </div>
</section>
{% endblock %}
